{
  "version": 1.0,
  "project": "bodgelt-${branch}",
  "team": "/CxServer/OWASP/Java/Bodgelt",
  "sast": {
    "incremental": "false",
    "forceScan" : "true",
    "fileExcludes": "",
    "folderExcludes": ""
  },
  "additionalProperties" : {
    "cxFlow": {
      "application": "Bodgelt App",
      "branches": ["master"],
      "bugTracker": "GitHub",
      "filters" : {
        "severity": ["High", "Medium"],
        "cwe": ["79", "89"],
        "category": ["XSS_Reflected", "SQL_Injection"]
        #"status": ["Confirmed", "Urgent", "New"]
      }
    }
  }
}